*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}

.main{
    max-width: 1024px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin: 0 auto;
}

.card__user{
    border-radius: 1rem;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 1rem;
    transition: transform 0.5s;
}

.card__user >ul{
    list-style: none;
}

.card__user:hover{
    transform: scale(1.1);
}